<form id="search_form" action="search">
	<p><input type="text" id="search_input" name="searchvalue" value="Search this site for..." />
	   <input type="submit" id="search_input_submit" value="" /></p>
</form> <!-- ends form -->