<% content_for :title do %>CAMSGlobal<% end %>

<!-- search form -->
<%= render :partial => "shared/searchform" %> 

<div id="page_title">
	<p>Edit Website Page</p>
</div>

<div id="content">
	<div class="text">

<%= render :partial => "form" %>


	</div> <!--ends text -->
</div> <!-- ends content -->